.design-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-weight: normal;
}

.design-section--item {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 25px 15px;
    margin-bottom: 25px;
    box-shadow: 1px 1px #eee;
}

.design-section--item > a:focus,
.design-section--item > a:hover {
    text-decoration: none;
    cursor: pointer;
}

.design-section--item__br {
    width: 75px;
    border-top: 1px solid #ddd;
    margin-bottom: 15px;
}

.design-section--item__desc {
    font-size: 14px;
    color: #777;
    padding-top: 15px;
}

.design-section--item__header {
    font-size: 16px;
    padding-bottom: 5px;
    color: #333;
}

.design-section--item__img {
    max-width: 400px;
    opacity: 0.8;
    border-radius: 2px;
}

.design-section--item__img > img {
    border-radius: 2px;
}

.design-section--item > a:hover .design-section--item__img {
    opacity: 1;
}

@media (min-width: 576px) {
    .design-section {
        justify-content: space-between;
    }

    .design-section--item {
        width: 47%;
    }

    .design-section--item.photo--item {
        width: 47%;
    }

    .design-section--item__img {
        max-width: none;
    }
}

@media (min-width: 992px) {
    .design-section {
        justify-content: flex-start;
    }

    .design-section--item {
        width: 30%;
        margin-right: 3%;
    }

    .design-section--item:nth-child(3n) {
        margin-right: 0;
    }

    .design-section--item.photo--item .design-section--item__header {
        padding-bottom: 10px;
    }

    .design-section--item.photo--item .design-section--item__br {
        margin-bottom: 25px;
    }
}